<template data-tagname="app-root">
  <app-title title="{{title}}"></app-title>
  Bug counter
  <app-button text="minus" onclick="decrement()"></app-button>
  {{counter}}
  <app-button text="plus" onclick="increment()"></app-button>

  <hr>

  <show-done-todos showdonetodos="{{showdonetodos}}"></show-done-todos>
  <todo-list todos="{{todos}}" showdonetodos="{{showdonetodos}}"></todo-list>
  <todo-input newtodo={{newtodo}}></todo-input>

</template>

<template data-tagname="todo-list">
  <ul>
    <todo-entry  todo="{{todo}}" showdonetodos="{{showdonetodos}}" data-each="todo in todos">
    </todo-entry>
  </ul>

</template>

<template data-tagname="todo-entry">
  <li data-unless="todo.done" onclick="toggleDone(todo.id)" >
    {{todo.name}}
  </li>
  <li data-if="todo.done && showdonetodos" onclick="toggleDone(todo.id)" >
    {{todo.name}}
  </li>
</template>

<template data-tagname="todo-input">
  <input type="text" value="{{newtodo}}" oninput="changeNewInput(event)" onkeydown="saveNewTodo(event)"/>
</template>

<template data-tagname="show-done-todos">
  <label>Show done todo ?
    <input type="checkbox" checked="{{showdonetodos}}" onclick="toggleShowDoneTodos()"/>
  </label>
</template>
